.hero{
    height: 600px;
    display: flex;
    justify-content: space-evenly;
}

.hero-left{
    width: 40%;
}

.hero-left h1{
    text-align: start;
    margin-top: 140px;
    color: var(--button-color);
}

.hero-left p{
    font-size: 20px;
    margin: 20px 0px;
    margin-bottom: 40px;
}

.hero-left div{
    border-radius:10px;
    padding: 5px;
    text-decoration: none;
    width: 20%;
    text-align: center;
    color: white;
    background-color: var(--button-color);
    font-weight: 600;
    transition: 0.5s;
    cursor: pointer;
}

.hero-left div:hover{
    background-color: var(--button-hover-color);
    transform: scale(1.10);
}

.hero-right{
    display: flex;
    align-items: center;
}