.hero {
    height: auto;
    min-height: 600px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.hero-left {
    width: 40%;
}

.hero-left h1 {
    text-align: start;
    margin-top: 140px;
    color: var(--button-color);
    animation: containerFadeIn 2s ease;
}

.hero-left p {
    font-size: 20px;
    margin: 20px 0px;
    margin-bottom: 40px;
    animation: containerFadeIn 2s ease;
}

.hero-left div {
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
    width: 120px;
    text-align: center;
    color: white;
    background-color: var(--button-color);
    font-weight: 600;
    transition: 0.5s;
    cursor: pointer;
    animation: pulse 2s infinite;
}

.hero-left div:hover {
    background-color: var(--button-hover-color);
    animation: none;
}

.hero-right {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 40px;
    }

    .hero-left {
        width: 100%;
        text-align: center;
    }

    .hero-left h1 {
        margin-top: 40px;
        text-align: center;
        font-size: 24px;
    }

    .hero-left p {
        font-size: 16px;
        text-align: center;
        margin: 20px 0;
    }

    .hero-left div {
        margin: 0 auto;
    }

    .hero-right {
        width: 100%;
        overflow-x: hidden;
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .hero-left h1 {
        font-size: 20px;
    }

    .hero-left p {
        font-size: 14px;
    }
}