.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);   
}

.login-card {
    width: 100%;
    max-width: 448px;
    background-color: var(--secondary-bg-color);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    overflow: hidden;
}

.login-content {
    padding: 40px;
}

.login-header {
    text-align: center;
    margin-bottom: 32px;
}

.login-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.login-title {
    font-size: 32px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 8px;
}

.login-subtitle {
    color: var(--secondary-text-color);
    font-size: 15px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input-wrapper {
    position: relative;
    transition: transform 0.3s ease;
}

.input-wrapper:focus-within {
    transform: scale(1.02);
}

.input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.login-input {
    width: 90%;
    padding: 12px 12px 12px 40px;
    border-radius: 12px;
    border: 1px solid var(--border-color);
    background-color: var(--input-bg-color);
    transition: all 300ms ease;
    font-size: 15px;
}

.login-input:focus {
    outline: none;
    border-color: var(--button-color);
    box-shadow: 0 0 0 3px rgba(16, 185, 129, 0.2);
}

.forgot-password {
    text-align: right;
    margin-bottom: 5px 0px;
}

.forgot-link {
    color: var(--secondary-text-color);
    font-size: 15px;
    text-decoration: none;
    transition: color 300ms ease;
}

.forgot-link:hover {
    color: var(--button-color);
}

.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background-color: var(--button-color);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 300ms ease;
}

.login-button:hover {
    background-color: var(--button-hover-color);
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-button:active {
    transform: translateY(1px);
    box-shadow: none;
}